.navbar ul{
	list-style-type: none;
	background-color: #FFB38E;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.navbar a{
	color: #181823;
	text-decoration: none;
	padding: 15px;
	display: block;
	text-align: center;
}
.navbar a:hover{
	background-color: #F6D6D6;

}
.navbar li{
	float: left;
}